<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/koa-behaviors/koa-spinner-behavior.html">

<dom-module id="koapp-spinner-rotationplane">
  <template strip-whitespace>
    <style>
      .sk-rotating-plane {
        width: 40px;
        height: 40px;
        margin: 40px auto;

        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
        animation: sk-rotatePlane 1.2s infinite ease-in-out;

        background-color: var(--spinner-color, --accent-color);
      }

      @-webkit-keyframes sk-rotatePlane {
        0% {
          -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
          transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }
        50% {
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
          -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
      }

      @keyframes sk-rotatePlane {
        0% {
          -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
          transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }
        50% {
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
          -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
      }
    </style>

    <!-- write your template here -->
    <div class="sk-rotating-plane"></div>
    <!-- end template -->
  </template>

  <script>
    Polymer({
      is: 'koapp-spinner-rotationplane',

      behaviors: [
        Polymer.KoaSpinnerBehavior
      ]
    });
  </script>
</dom-module>
